@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Inter&family=Laila&family=Lobster&family=Playfair&family=Port+Lligat+Slab&family=Quicksand&family=Yatra+One&display=swap');



@import url('https://fonts.bunny.net/css?family=fira-sans:200,400,500,700,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,500;0,700;0,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,200;1,400;1,500;1,700;1,900&display=swap');



/* Roman Melikhov */
@font-face {
    font-family: 'Roman Melikhov';
    src: url('/assets/Fonts/Conneqt_Bold/Roman_Melikhov_-_Conneqt_Bold.otf');
    font-display: swap;
}


/* Shoemaker */
@font-face {
    font-family: 'Shoemaker';
    src: url('/assets/Fonts/Shoemaker.ttf');
    font-weight: 400;
    font-display: swap;
}

/* Cardinal */
@font-face {
    font-family: 'Cardinal';
    src: url('/assets/Fonts/Cardinal.ttf');
    font-weight: 400;
    font-display: swap;
}

/* Bunya */
@font-face {
    font-family: 'Bunya';
    src: url('/assets/Fonts/Bunya/Bunya-Thin_PERSONAL.ttf');
    font-weight: 200;
    font-display: swap;
}
@font-face {
    font-family: 'Bunya';
    src: url('/assets/Fonts/Bunya/Bunya-Light_PERSONAL.ttf');
    font-weight: 300;
    font-display: swap;
}
@font-face {
    font-family: 'Bunya';
    src: url('/assets/Fonts/Bunya/Bunya-Regular_PERSONAL.ttf');
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: 'Bunya';
    src: url('/assets/Fonts/Bunya/Bunya-Bold_PERSONAL.ttf');
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: 'Bunya';
    src: url('/assets/Fonts/Bunya/Bunya-Black_PERSONAL.ttf');
    font-weight: 900;
    font-display: swap;
}

/* Avenir */
@font-face {
    font-family: 'Avenir';
    src: url('/assets/Fonts/Avenir/Avenir Light.ttf');
    font-weight: 300;
    font-display: swap;
}
@font-face {
    font-family: 'Avenir';
    src: url('/assets/Fonts/Avenir/Avenir Book.ttf');
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: 'Avenir';
    src: url('/assets/Fonts/Avenir/Avenir Medium.ttf');
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: 'Avenir';
    src: url('/assets/Fonts/Avenir/Avenir Heavy.ttf');
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: 'Avenir';
    src: url('/assets/Fonts/Avenir/Avenir Black.ttf');
    font-weight: 900;
    font-display: swap;
}




/* Source Sans Pro */
@font-face {
    font-family: 'Source Sans Pro';
    font-weight: 200;
    src: url('/assets/Fonts/Source_Sans_Pro/SourceSansPro-200.ttf');
    font-display: swap;
}
@font-face {
    font-family: 'Source Sans Pro';
    font-weight: 300;
    src: url('/assets/Fonts/Source_Sans_Pro/SourceSansPro-300.ttf');
    font-display: swap;
}
@font-face {
    font-family: 'Source Sans Pro';
    font-weight: 400;
    src: url('/assets/Fonts/Source_Sans_Pro/SourceSansPro-400.ttf');
    font-display: swap;
}
@font-face {
    font-family: 'Source Sans Pro';
    font-weight: 600;
    src: url('/assets/Fonts/Source_Sans_Pro/SourceSansPro-600.ttf');
    font-display: swap;
}
@font-face {
    font-family: 'Source Sans Pro';
    font-weight: 700;
    src: url('/assets/Fonts/Source_Sans_Pro/SourceSansPro-700.ttf');
    font-display: swap;
}
@font-face {
    font-family: 'Source Sans Pro';
    font-weight: 900;
    src: url('/assets/Fonts/Source_Sans_Pro/SourceSansPro-900.ttf');
    font-display: swap;
}
